<div class="page-wrapper">


    {{>organisms-header}}
    {{>organisms-intro}}
    <div class="content-wrapper">
        {{>organisms-multiple-projects}}
        {{>organisms-projects-grid}}
        {{>organisms-skills}}

        {{>organisms-teaser-triple}}
        {{>organisms-contact}}
    </div>
    {{>organisms-footer}}
</div>