header {

  width: 100%;
  @include breakpoint(sm) {

  }
}
.header {
  max-width: $content-width;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}
.header__container {
  display: flex;
  @include breakpoint(sm) {
    flex-direction: row;
    width: 70%;
  }
}
.header__logo {
  background-color: $color-secondary;
  max-width: 300px;
  width: 30%;
  height: 100%;
  padding: 10px;
  border-radius: 3px;

  .headline, .subheadline {
    color: $color-white;
    text-transform: uppercase;
  }
  .headline {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .subheadline {
    font-size: 18px;
    letter-spacing: 3px;
  }
}

.header__menu {
  display: flex;
  flex-direction: column;


  @include breakpoint(sm) {
   flex-direction: row;
   justify-content: space-between;
    width: 70%;

    li {
     margin: 0 7px;
   }
 }
}
