.teaser-image {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    height: 100%;
    padding: 100px 0;

    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid $color-border;

    @include breakpoint(lg) {
        flex-direction:row;
        justify-content: space-evenly;

    }
    &__headlines {
        padding: 30px 10px;
        @include breakpoint(lg) {
            padding: 0;
        }
    }
    &__container {
        display: flex;
        justify-content: center;
    }
    &__content {

    }
    &__image img {
        border-radius: 50%;
        max-width: 280px;
        @include breakpoint(lg) {
            max-width: 300px;
        }
        @include breakpoint(xl) {
            max-width: 350px;
        }

    }
}
