<div class="intro" id="intro">

    <div class="intro__content content-width">
        <div class="intro__title">
            <h1 class="center">Welcome
                <span class="headline__sub">to my frontend world!</span>
            </h1>
            <p class="center">I'm experienced frontend developer and code lover. I create #usable, #responsive interface design with the principle that less is more. New challenge is never a problem. If I don't know something, it means I didn't learn it yet.  </p>
            <p class="center">I love colors and I'm not afraid to use them in this portfolio! Enjoy :-) </p>
        </div>
        <div class="intro__nav">

            <div class="intro__nav__item background-content-secondary">
                <a href="#projects" class="block-link"></a>
                <p class="text-lightback">My Projects</p>
            </div>
            <div class="intro__nav__item background-content-primary">
                <a href="#skills" class="block-link"></a>
                <p class="text-lightback">My Skills</p>
            </div>
            <div class="intro__nav__item background-content-tertiary">
                <a href="#aboutme" class="block-link"></a>
                <p class="text-lightback">About Me</p>
            </div>
        </div>
    </div>


</div>