<header>
   <div class="header">
       <div class="header__btn">
           {{>atoms-burger-menu}}
       </div>
       <nav class="header__nav" id="nav">
           <div class="header__logo">
               <a class="block-link" href="#"></a>
                <p>
                    <span class="title">Kamila Pochojka.</span>
                    <span class="subtitle">Frontend Developer</span>
                </p>
           </div>
           <ul class="header__menu">
               <li><a href="#skills">Skills</a></li>
               <li><a href="#projects">Projects</a></li>
               <li><a href="#aboutme">About Me</a></li>
           </ul>
       </nav>
   </div>
</header>