<footer>
    <ul class="footer__social-icons">
        <li ><a class="icon email"></a></li>
        <li ><a class="icon linkedin"></a></li>
        <li ><a class="icon xing"></a></li>
    </ul>
    <div class="footer__info">
        <p>© 2023 by Kamila Pochojka</p>
    </div>
</footer>