<div class="teaser-triple  border-bottom" id="aboutme">
    <h2 class="center">About me</h2>

    <div class="teaser-triple__content" data-glide-el="track">

            <div class="teaser-triple__item teaser-triple__item-left">
                <div class="teaser-triple__item-container">
                    <h3><strong>7</strong><span class="main">Things <span class="special-color">you should know</span> about me</span></h3>
                    <ul>
                        <li>Challenges</li>
                        <li>Meeting a deadline</li>
                        <li>Staying up to date with the latest trends</li>
                        <li>Pixel Perfection</li>
                        <li>originality without extravagancy</li>
                        <li>Balance</li>
                        <li>Frontend Magic</li>

                    </ul>
                </div>
            </div>
            <div class="teaser-triple__item teaser-triple__item-middle">
                <img src="../../../assets/images/general/my-img.png" alt="profile-picture">
                <h3>Kamila Pochojka</h3>
                <h4>Frontend Developer</h4>
            </div>
            <div class="teaser-triple__item teaser-triple__item-right">
                <div class="teaser-triple__item-container">
                    <h3><strong>7</strong><span class="main">Things <span class="special-color">you don't care</span> about me</span></h3>
                    <ul>
                        <li>Bike Lover</li>
                        <li>Fitness Addicted</li>
                        <li>Staying up to date with the latest trends</li>
                        <li>Pixel Perfection</li>
                        <li>Vegan, but no freak</li>
                    </ul>
                </div>
            </div>


    </div>
</div>