<div class="contact">
    <h2 class="center">Contact me</h2>
    {{#socialicons}}
        <ul class="social-icons">
            {{#socialiconsItem}}
            <li class="social-icons__item">
                <a href="{{href}}"><span class="icon {{icon}}"></span></a>
            </li>
             {{/socialiconsItem}}
        </ul>
    {{/socialicons}}


</div>