<div class="multiple-projects" id="projects">
    <h2 class="center">My Commercial Projects</h2>
    <h4 class="center">There are my projects I was happy to be part of during my work experience.</h4>
    {{#multipleprojects}}
    <div class="multiple-projects__item">
       <div class="multiple-projects__item__image-box">
         {{#multipleprojectsImage}}
             <div class="multiple-projects__item__image">
                 <img src="{{ image }}" alt="{{ alt }}">
                 <div class="multiple-projects__item__image-overlay">
                     <a href="{{button1href}}" class="link block-link" target="_blank">Visit the website</a>
                 </div>
             </div>
          {{/multipleprojectsImage}}
        </div>
        <div class="multiple-projects__item__content-box">
            <h3>{{ title }}</h3>
            <p>{{{ content }}}</p>
            <p class="semibold">{{ technologies }}</p>
            <p class="date">{{ date }}</p>
        </div>



    </div>
    {{/multipleprojects}}
</div>