<div class="multiple-projects" id="projects">
    <h2 class="center">My Commercial Projects</h2>
    <h4 class="center">This are my commercial projects.</h4>
    {{#multipleprojects}}
    <div class="multiple-projects__item">
       <div class="multiple-projects__item__image-box">
         {{#multipleprojectsImage}}
             <div class="multiple-projects__item__image">
                 <img src="{{ image }}" alt="{{ alt }}">
                 <div class="multiple-projects__item__image-overlay">
                     <a href="{{button1href}}" class="btn btn--small" target="_blank">Website</a>
                 </div>
             </div>
          {{/multipleprojectsImage}}
        </div>
        <div class="multiple-projects__item__content-box">
            <h3>{{ title }}</h3>
            <p>{{ content }}</p>
            <p>{{ technologies }}</p>
        </div>



    </div>
    {{/multipleprojects}}
</div>