// COLORS
$color-white: #FFFCFC;
$color-white-opacity: #FFFCFC;
$color-black: #2B2D2A;
$color-black-opacity: #2b2d2a45;
$color-silver: #C5C5C4;
//brand-colors
$color-primary: #CC5555;
$color-secondary: #0B8280;
$color-tertiary: #FFC77A;


// extra colors
$color-paper-grey: #EAE5E5;
$headline-highlight: rgba(214, 205, 55, 0.5);
