@font-face {
  font-family: 'Nilland';
  src: url(#{$font-path}Nilland.ttf.woff) format('woff'),
  url(#{$font-path}Nilland.ttf.svg#Nilland) format('svg'),
  url(#{$font-path}Nilland.ttf.eot),
  url(#{$font-path}Nilland.ttf.eot?#iefix) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Bello Pro';
	src: local('Bello Pro'), local('BelloPro'), url(#{$font-path}BelloPro.ttf);
}

@font-face {
	font-family: 'Open Sans Light';
    src: local('Open Sans Light'), local('OpenSansLight'), url(#{$font-path}OpenSans-Light.ttf) format('truetype');
  
}

@font-face {
	font-family: 'Open Sans Extra Bold';
	src: local('Open Sans Extra Bold'), local('OpenSansExtraBold'),
  url(#{$font-path}OpenSans-ExtraBold.ttf) format('truetype');
}


/*
font-family: 'Open Sans Light', Helvetica, Arial, serif;
font-family: 'Open Sans Extra Bold', Helvetica, Arial, serif;
font-family: 'Bello Pro', Helvetica, Arial, serif;
*/