<div class="main">
    {{#header}}
        {{> organisms-header}}
    {{/header}}
    {{#hero}}
        {{> organisms-hero}}
    {{/hero}}
    {{#mainContent}}
        <section class="main-content">
            {{#stickyMenu}}
                {{> organisms-sticky-menu}}
            {{/stickyMenu}}

            {{#teaserImage}}
                {{> organisms-teaser-image}}
            {{/teaserImage}}
            {{#contentBox}}
                {{> organisms-content-box}}
            {{/contentBox}}
        </section>
    {{/mainContent}}
</div>