<div class="main">
    {{#header}}
        {{> organisms-header}}
    {{/header}}
    {{#mainContent}}
        <section class="main-content">
            {{#stickyMenu}}
                {{> organisms-sticky-menu}}
            {{/stickyMenu}}
            {{#hero}}
                {{> organisms-hero}}
            {{/hero}}
        </section>
    {{/mainContent}}
</div>