{{#header}}
    {{> organisms-header}}
{{/header}}
{{#mainContent}}
    <section class="main-content">
        {{#stickyMenu}}
            {{> organisms-sticky-menu}}
        {{/stickyMenu}}
        {{#stage}}
            {{> organisms-stage}}
        {{/stage}}
    </section>
{{/mainContent}}