@mixin social-icons {
  width: 30px;
  height: 30px;
  display: block;
  background-size: cover;
  cursor: pointer;
}
@mixin header-icons {
  width: 60px;
  height: 60px;
  display: block;
  background-size: cover;
  cursor: pointer;
  margin-left: 10px;
}


.icon-email {
  background: url("/assets/images/icons/icon-mail.svg") no-repeat;
  @include social-icons;
}
.icon-linkedin {
  background: url("/assets/images/icons/icon-linkedin.svg") no-repeat;
  @include social-icons;
}
.icon-xing {
  background: url("/assets/images/icons/icon-xing.svg") no-repeat;
  @include social-icons;
}
.icon-resume {
  background: url("/assets/images/icons/icon-resume.svg") no-repeat;
  @include social-icons;
}
.icon-menu {
  background: url("/assets/images/icons/icon-menu.svg") no-repeat;
 @include header-icons;
  transition: all .5s;
}
.icon-close {
  background: url("/assets/images/icons/icon-close.svg") no-repeat;
  @include header-icons;
  transition: all .5s;
  position: relative;
  z-index: 12;
}