.background-content-primary {
  background-color: $color-pink;
}
.background-content-secondary {
  background-color: $color-limegreen;
}
.background-content-tertiary {
  background-color: $color-lightblue;
}
.text-lightback {
  color: $color-font-secondary;
}
