<header>
    <div class="header">
        <div class="header__logo">
            <p class="header__logo__headline">Kamila Pochojka</p>
            <p class="header__logo__subheadline">Frontend Hero</p>
        </div>
            {{#headerNav}}
                <ul class="{{listClass}}">
                    {{#listItem}}
                        <li class="{{listItemClass}}"><a class="{{linkItemClass}}" href="{{listLink}}">{{listItem}}</a></li>
                    {{/listItem}}
                    {{> atoms-button}}
                </ul>
            {{/headerNav}}

        <span class="icon-menu"></span>
    </div>
</header>