<header>
    <div class="header">
        <div class="header__logo">
            <p class="headline">Kamila Pochojka</p>
            <p class="subheadline">Frontend Hero</p>
        </div>
        <div class="header__container">
            {{#headerNav}}
                {{> molecules-list-link}}
            {{/headerNav}}
        </div>
        <span class="icon-menu"></span>
    </div>
</header>