<div class="stage">
    {{#stageContainer1}}
        <div class="stage__container {{mod}}">
            <div class="stage__content">
                {{#image}}
                    {{> molecules-picture}}
                {{/image}}
            </div>
        </div>
    {{/stageContainer1}}
    {{#stageContainer2}}
        <div class="stage__container {{mod}}">
            <div class="stage__content">

            </div>
        </div>
    {{/stageContainer2}}

</div>