<div class="teaser-image">
    {{#teaser-imageContainer1}}
        <div class="teaser-image__container {{mod}}">
            <div class="teaser-image__content">
                {{#image}}
                    {{> molecules-picture}}
                {{/image}}
            </div>
        </div>
    {{/teaser-imageContainer1}}
    {{#teaser-imageContainer2}}
        <div class="teaser-image__container {{mod}}">
            <div class="teaser-image__content">

            </div>
        </div>
    {{/teaser-imageContainer2}}
</div>