<div class="teaser-image">
    <div class="teaser-image__headlines">
        <h2>About Me</h2>
        <p class="uppercase">Frontend Developer</p>
        <p class="small">Mainz / Frankfurt, Germany, Earth</p>
        <p class="lightback">Married to creativity. In love with challenge.
            <br>
            Proud to not making the same mistakes twice!
        </p>
        <a class="email">ka.pochojka@gmail.com</a>
        <p class="lightback"></p>


    </div>

        <div class="teaser-image__container">
            {{> molecules-picture}}
        </div>
</div>