<div class="hero">
    <div class="hero__content">
       <h1 class="heading-primary">
           <span class="{{headingPrimaryClass}} {{subClass}}">{{headingPrimaryContent}}</span>
           <span class="{{headingSecondaryClass}}">{{headingSecondaryContent}}</span>
       </h1>
    </div>
</div>