.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  //height: calc(70vh - #{$header-height});
  padding-top: calc(2 * #{$spacing-offset-lg});
  margin-bottom: $spacing-offset-sm;



  @include media(">=tablet-portrait") {
    flex-direction: row;
    padding-top: calc(2 * #{$spacing-offset-xl});
    margin-bottom: $spacing-offset-xl;
    height: 100vh;
  }

  &__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(67%);

  }
  &__content {
    max-width: 100%;
    @include media(">=tablet-portrait") {
      max-width: 60%;

    }
  }
  &__title {
    h1 {
      margin-bottom: 30px;
    }
    & p {
      font-size: 1.8rem;
    }
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px auto;
    max-width: 600px;
  }
  &__nav__item {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 3px;
    border-radius: 50%;

    transition: filter .3s;

    @include media(">=tablet-portrait") {
      width: 150px;
      height: 150px;
    }

    &:hover {
      filter: brightness(80%);
    }

    & p {
      text-transform: uppercase;
     // font-size: 1.2rem;
    }

  }
}