header {
}
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  @include media(">=phone-landscape") {
    align-items: center;
  }


 &__nav {
   background: $header-background;
   //background: linear-gradient(90deg, rgba($header-background, 1) 0%, rgba($header-background, 0.9) 32%, rgba($header-background,1) 100%);
   width:0;
   //height: $header-height-mobile;
   opacity: 0;
   visibility: hidden;
   transition:all 0.5s;
   z-index: 1;
   display: none;

   padding: 0 20px;

   @include media(">=phone-landscape") {
     display: flex;
     justify-content:flex-end;
     height: $header-height;
     background: linear-gradient(90deg, rgba($header-background,.0) 6%, rgba($header-background, 1) 73%, rgba($header-background,1) 100%);
   }
 }
  &__btn {
    //transition: all 0.5s;
  }
  &__logo {
   position: relative;
   max-width: 0;
   overflow: hidden;
   //transition: all 0.5s;
   font-weight: 600;
   font-size: 30px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-right: auto;
    & span {
      color: $color-font-secondary;
      display: block;
      text-transform: uppercase;

      &.title {
        font-size: 1.5rem;
      }
    }
 }
 &__menu  {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   justify-content: center;
   flex-direction: column;

   @include media(">=phone-landscape") {
     flex-direction: row;
     justify-content: flex-end;
   }

   & li {
     //flex: 1;
     padding: 8px 0;
     position: relative;
     @include media(">=phone-landscape") {
       padding: 0;
       margin: 0 30px;

       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
     }

     & a {
       display: inline-block;
       font-family: $font-regular;
       color: white;
       transition: all 0.2s;
       text-transform: uppercase;
       font-size: 35px;
       @include media(">=phone-landscape") {
         font-size: inherit;
       }
       
       &:before,
       &:after {
         content: "";
         bottom: 6px;
         width: 0;
         height: 2px;
         display: block;
         position: absolute;
         background-color: $color-white;
         transition: all 0.3s ease-in-out;
         @include media(">=phone-landscape") {
           bottom: 10px;
         }
       }
       &:before {
         right: 50%;
       }
       &:after {
         left: 50%;
       }
       &:hover {
         &:before,
         &:after {
           width: 50%;
         }
       }
     }
   }
 }
}
body.fixed-nav {

}
header.open {
  .header {
    @include media("<=phone-landscape") {
      height: 100%;
      overflow: hidden;
    }
  }
  .header__nav {
    width: 100%;
    opacity: 1;
    visibility: visible;
    //box-shadow: 0 5px 0 hsla(0, 0%, 100%, 0.77);
    transition: all 0.5s;
    @include media("<=phone-landscape") {
      display: flex;
    }
  }
  .header__btn {
    @include media("<=phone-landscape") {
      background: $header-background;
    }
  }
}
