.teaser-triple {
  //width: 100%;

  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
  background-image: url("/assets/images/general/contacts-background.png");

  &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 30px auto 0 auto;
      max-width: 1300px;

    @include media(">=tablet-landscape") {
      flex-direction: row;
    }
  }
  &__item  {
    width: 400px;
    height: auto;
  }
  &__item-container {
    color: $color-white;
    padding: 20px;
    min-height: 400px;
    max-width: 500px;
    margin: 0 auto;
    & h3 {
      font-family: $font-bold;
      font-size: 2rem;
      & .main {
        display: block;
        max-width: 220px;
        margin-top: -173px;
        margin-left: 100px;
        line-height: 1.43;
      }

      & strong {
        font-size: 10rem;
        text-align: left;
      }
    }
    & ul {
      margin-top: 20px;
    }
    & li {
      padding: 10px 0;
      font-size: 1.2rem;
      border-bottom: dotted 1px rgba($color-silver, .48);
    }
  }
  &__item-left {
    .teaser-triple__item-container {



    }
  }
  &__item-middle {
    & img  {
      //border-radius: 50%;
     // border: 10px solid $color-white;
      max-width: 300px;
      margin: 20px auto 20px auto;
      box-shadow: 10px 13px 60px -16px rgba(0,0,0,0.75);
      @include media(">=phone-landscape") {
        max-width: 100%;
      }
    }
    & h3,
    & h4 {
      color: $color-white;
      text-align: center;
    }
  }
}