.projects-grid {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: $spacing-offset-lg 0;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 30px auto 0 auto;

    @include media(">=phone-portrait") {
      flex-direction: row;
      //justify-content: flex-start;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 10px 0;
    @include media(">=tablet-portrait") {
      margin: 5px;
      width: calc(50% - 2 * 10px);
      min-height: 250px;
    }
    @include media(">=desktop") {
      width: calc(33% - 2 * 5px);
      min-height: 300px;
    }
    & img {
      height: 100%;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      max-height: 300px;
      min-height: 300px;
      box-shadow: 10px 13px 60px -16px rgba(0,0,0,0.75);

      filter: grayscale(.8);

    }
  }
  &__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
    background-color: rgba(#000, .85);
    color: $color-white;

    transition: all 0.3s;
    @include media("<=desktop") {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.75);
    }

    &.visible,
    &:hover {
      opacity: 1;
    }
    & h3 {
      font-size: 1rem;
      @include media(">=tablet-landscape") {
        font-size: 1.5rem;
      }
    }
    & p {
      color: $color-white;
      font-family: $font-regular;
      text-align: center;
      margin: 10px 0;
    }
    & .btn-group {
      margin-top: 20px;
    }
  }

  & .btn {
    max-width: 600px;
    margin: 80px auto 0 auto;

  }
}