<div class="{{imageClass}}">
    <picture>
        {{#mediaXl}}
            <source media="({{media}})" srcset="{{src}}" sizes="{{size}}">
        {{/mediaXl}}
        {{#mediaLg}}
            <source media="({{media}})" srcset="{{src}}" sizes="{{size}}">
        {{/mediaLg}}
        {{#mediaMd}}
            <source media="({{media}})" srcset="{{src}}" sizes="{{size}}">
        {{/mediaMd}}
        {{#mediaSm}}
            <source media="({{media}})" srcset="{{src}}" sizes="{{size}}">
        {{/mediaSm}}
        {{#mediaXs}}
            <source media="({{media}})" srcset="{{src}}" sizes="{{size}}">
        {{/mediaXs}}
        <img class="{{imgClass}}" alt="{{imgAlt}}" src="{{imgSrc}}">

    </picture>
</div>
