.main {
  background: url("/assets/images/general/background-blue.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  //clip-path: polygon(0 0, 100% 1%, 100% 80%, 0 100%);
}

.main-content {
  padding: 0 $min-pading;
  
}