h1 {

}
h2 {
  font-family: 'Bello Pro', Helvetica, Arial, serif;
  color: $color-black;

  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;

  @include breakpoint(md) {
    font-size: 6rem;
    text-align: left;
  }
}

h3 {
  font-family: 'Open Sans Extra Bold', Helvetica, Arial, serif;
  //font-family: 'Open Sans Light', Helvetica, Arial, serif;

  color: $color-black;
  font-size: 3.5rem;

  margin-bottom: 20px;
  line-height: 60px;


  @include breakpoint(md) {

  }
}
h4 {
  font-family: 'Open Sans Light', Helvetica, Arial, serif;
  font-size: 1.5rem;
  color: $color-silver;
}

.heading-primary {
  font-size: 30px;
  line-height: 50px;
  color: $color-white;
  font-family: 'Open Sans Light', Helvetica, Arial, serif;
  text-transform: uppercase;
  text-align: center;


  @include breakpoint(md) {
    font-size: 50px;
    line-height: 70px;
  }

  &--sub {
    background-color: $headline-highlight;
  }
}
.u-title {
  font-size: 50px;
  @include breakpoint(md) {
    font-size: 90px;
  }
}

