.text {
    //font-family: 'Open Sans Light', Helvetica, Arial, serif;

    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;

    &--lg {
        font-size: 40px;
        line-height: 40px;
    }
}

.big {
    font-size: 235px;
    float: left;
    line-height: 187px;
}
.grey {
    color: $color-grey;
    text-align: left;
    line-height: 50px;
}
.uppercase {
    text-transform: uppercase;
    font-size: 50px;
}
.lightback {
    margin-top: 20px;
    font-size: 30px;
}
.small {
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
    margin-top: -10px;
}
.email {
    display: block;
    margin-top: 30px;
    font-size: 30px;
    color: $color-primary;
    font-family: 'Open Sans Extra Bold', Helvetica, Arial, serif;
}
