h1 {
  font-size: 3rem;
  font-family: $font-headline;
  @include media(">=tablet-portrait") {
    font-size: 5rem;

  }
}
h2 {
  font-size: 3rem;
  font-family: $font-headline;
  @include media(">=tablet-portrait") {

  }
}
h3 {
  font-size: 2rem;
  font-family: $font-headline;
}
h4 {
  font-size: 1.5rem;
  font-family: $font-text;
}

p {
  color: $color-font-primary;
  font-family: $font-text;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.headline__sub {
  display: block;
  font-size: 3rem;
}
.center {
  text-align: center;
}
.special-color {
  color: $color-lightblue;
}