h1 {
  font-size: 2.7rem;
  font-family: $font-headline;
  margin-bottom: 0.5rem;

  @include media(">=phone-portrait") {
    font-size: 5rem;

  }
}
h2 {
  font-size: 2.3rem;
  font-family: $font-headline;
  margin-bottom: 0.5rem;



  @include media(">=phone-portrait") {
    font-size: 3rem;
    margin: 0 auto 0.5rem auto;
    max-width: $content-wrapper-width;
  }
}
h3 {
  font-size: 2rem;
  font-family: $font-headline;
  margin-bottom: 0.5rem;


}
h4 {
  font-size: 1.5rem;
  font-family: $font-text;
  margin-bottom: 0.5rem;
  @include media(">=phone-portrait") {
    margin: 0 auto 0.5rem auto;
    max-width: $content-wrapper-width;
  }
}

p {
  color: $color-font-primary;
  font-family: $font-text;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 0.5rem;

}

.headline__sub {
  display: block;
  font-size: 2.5rem;
  @include media(">=phone-portrait") {
    font-size: 3rem;

  }
}
.center {
  text-align: center;
}
.special-color {
  color: $color-lightblue;
}
.bold  {
  font-family: $font-bold !important;
}
.semibold  {
  font-family: $font-semibold !important;
}
.text-lightback {
  font-family: $font-regular !important;
}
.date {
  font-family: $font-text !important;
  color: $color-grey;
  margin-top: 2rem;
}