.icon {
  display: block;
  cursor: pointer;

}

.linkedin {
  background: url("/../assets/images/icons/icon-linkedin.svg") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;

}
.email {
  background: url("/../assets/images/icons/icon-mail.svg") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;


}
.xing {
  background: url("/../assets/images/icons/icon-xing.svg") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}
.github {
  background: url("/../assets/images/icons/icon-github.svg") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}